a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}

a:link, a:visited {
    background-color: #8c4bf4;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: blue;
}
a:link, a:visited {
     background-color: #00f41f;
     color: white;
     padding: 15px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
}
a:hover, a:active {
    background-color: green;
}
a:link, a:visited {
      background-color: #e5f423;
      color: white;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
}
a:hover, a:active {
    background-color: yellow;
}

.jumbotron {
    background-color: #269900;
    color: #fff;
}